@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    background-color: #f4f4f6;
    opacity: 1;
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(45deg, #e6e6e9 0, #e6e6e9 0.7000000000000001px, #f4f4f6 0, #f4f4f6 50%);
}
section {
    width: 100%;
}
#app {
    background-color: #fff;
    height: 100vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#item_selector_grid {
    --item_size: 55px;
    --max-rows: 3;
    --padding: 35px;
    --gap: 5px;
    width: 100%;
    max-height: calc((var(--item_size) * var(--max-rows)) + (2 * var(--padding)) + (var(--max-rows) * var(--gap)));
    padding: var(--padding);
    overflow: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, var(--item_size));
    gap: var(--gap);
    border-bottom: 2px solid #f4f4f6;
}
#item_selector_grid .item {
    height: var(--item_size);
    width: var(--item_size);
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
}
#item_selector_grid .item.active {
    background-color: #f4f4f6;
}
#item_selector_grid .item:not(.active):hover {
    background-color: rgba(244, 244, 246, 0.5);
}
#item_selector_grid .item img {
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
}

#configurator {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 30px;
    padding: 0 35px
}
.fields {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.field {
    display: flex;
    flex-direction: column;
    gap: 2px
}
.field .name {
    font-weight: bold;
}
.field .inner {
    background-color: #eee;
    border: 1px solid #bbb;
}
.field .inner .header {
    background-color: pink;
    display: flex;
}
.field .header :is(.bold, .italic, .underline, .barre) {
    position: relative;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
}
.field .header :is(.bold, .italic, .underline, .barre) input {
    position: absolute;
    background-color: blue;
}
.field .header input[type="checkbox"] {
    min-width: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.field .header input[type="checkbox"]::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    height: 100%;
    width: 100%;
    border: 2px solid lime;
    opacity: 1;
}
.field .header :checked {
}
.field .inner textarea {
    background-color: #110210;
    width: 100%;
    height: 100%;
    resize: none;
    color: #fff;
    padding: 8px 15px;
    border: none;
}
.field .inner input {
    background-color: #110210;
    width: 100%;
    resize: none;
    color: #fff;
    padding: 8px 15px;
    border: none;
}
.display {
    width: 100%;
    height: 100%;
    background: url("../background/dark_background.webp");
    background-size: cover;
}

button {
    height: 35px;
    min-width: 220px;
}
.output {
    display: flex;
}
.output input {
    width: 300px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #4F4F4F;
    border-right: 0;
}
.output input:focus {
    outline: none;
}
.output button {
    min-width: 0;
    padding: 8px 15px;

    
    border-radius: 0 3px 3px 0;
    border: 1px solid #4F4F4F;
    border-left: 0;
    cursor: pointer;
    transition: background-color .2s;
}
.output button:hover {
    background-color: #E5E5E5;
}
input {
    padding: 8px 15px;
    min-width: 220px;
}
#version {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    color: #bbb;
}