* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}
#item_selector_grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 50px);
    gap: 5px;
    padding: 35px;
}
#item_selector_grid .item {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 8px;
    padding: 3px;
}
#item_selector_grid .item.active {
    background-color: #eee;
}
#item_selector_grid .item img {
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
}

button {
    height: 35px;
    min-width: 220px;
}
.output {
    display: flex;
}
.output input {
    width: 300px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #4F4F4F;
    border-right: 0;
}
.output input:focus {
    outline: none;
}
.output button {
    min-width: 0;
    padding: 8px 15px;

    
    border-radius: 0 3px 3px 0;
    border: 1px solid #4F4F4F;
    border-left: 0;
    cursor: pointer;
    transition: background-color .2s;
}
.output button:hover {
    background-color: #E5E5E5;
}
input {
    padding: 8px 15px;
    min-width: 220px;
}
#version {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    color: #bbb;
}
/*
*/